@model Web_Application_Desafio_Pulse_It.Models.Invitacion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Invitacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="InvitacionEventoId" class="control-label"></label>
                <select asp-for="InvitacionEventoId" class="form-control" asp-items="ViewBag.InvitacionEventoId"></select>
                <span asp-validation-for="InvitacionEventoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoInvitacionId" class="control-label"></label>
                <select asp-for="EstadoInvitacionId" class="form-control" asp-items="ViewBag.EstadoInvitacionId"></select>
                <span asp-validation-for="EstadoInvitacionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioInvitadoId" class="control-label"></label>
                <select asp-for="UsuarioInvitadoId" class="form-control" asp-items="ViewBag.UsuarioInvitadoId"></select>
                <span asp-validation-for="UsuarioInvitadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
