@model Web_Application_Desafio_Pulse_It.Models.Invitacion

@{
    ViewData["Title"] = "Respuesta";
}

<h1>Respuesta de invitación</h1>

<div>
    <h4>Invitación</h4>
    <hr />
    <div>
        <h1>Has rechazado la invitación para: @Html.DisplayFor(model => model.InvitacionEvento.Titulo)</h1>
    </div>
</div>

